.skd-carousel {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 80px;
    visibility: hidden;
}

.skd-carousel img {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width .3s linear,height .3s linear,opacity .3s linear,left .3s linear,top .3s linear;
    -moz-transition: width .3s linear,height .3s linear,opacity .3s linear,left .3s linear,top .3s linear;
    -o-transition: width .3s linear,height .3s linear,opacity .3s linear,left .3s linear,top .3s linear;
    -ms-transition: width .3s linear,height .3s linear,opacity .3s linear,left .3s linear,top .3s linear;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    opacity: 0;
}

.skd-carousel img.active{
   
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
   
}